*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#ffffff;
    color:#1f2937;
}

.hero{
    width:100%;
    min-height:100vh;
    padding:40px 10%;
}

.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:100px;

}

.logo{

    font-size:32px;

    font-weight:bold;

}

.menu{

    display:flex;

    gap:35px;

    list-style:none;

}

.menu a{

    text-decoration:none;

    color:#374151;

}

.hero-content{

    max-width:750px;

}

.tagline{

    color:#2563eb;

    font-weight:bold;

    margin-bottom:20px;

    text-transform:uppercase;

}

.hero-content h1{

    font-size:64px;

    line-height:1.1;

    margin-bottom:30px;

}

.intro{

    font-size:22px;

    color:#6b7280;

    line-height:1.7;

    margin-bottom:40px;

}

.buttons{

    display:flex;

    gap:20px;

}

.btn-primary{

    background:#2563eb;

    color:white;

    padding:16px 32px;

    text-decoration:none;

    border-radius:8px;

}

.btn-secondary{

    border:2px solid #2563eb;

    color:#2563eb;

    padding:16px 32px;

    text-decoration:none;

    border-radius:8px;

}

.about{

padding:120px 10%;

background:#f8fafc;

}

.about h2{

font-size:16px;

color:#2563eb;

text-transform:uppercase;

letter-spacing:2px;

margin-bottom:20px;

}

.about h3{

font-size:48px;

max-width:700px;

line-height:1.2;

margin-bottom:40px;

color:#1e293b;

}

.about p{

font-size:22px;

line-height:1.8;

max-width:850px;

color:#475569;

}